<html>
    <head>
        <title>Cached files</title>
    </head>
    <body>
        <div id="cached_files">
            <h1>Cached files</h1>
            <p>count: {{count}}</p>
            <p>size: {{size}}</p>
            <div id="file_table">
                <table>
                    <thead>
                        <tr>
                            <th>Path</th>
                            <th>Size</th>
                            <th>Last access time</th>
                        </tr>
                    </thead>
                    {{#files}}
                    <tr>
                        <td>{{value}}</td>
                        <td>{{size}}</td>
                        <td>{{atime}}</td>
                    </tr>
                    {{/files}}
                </table>
            </div>
        </div>
    </body>
    <style>
        body{
            margin: 0;
            width: 100vw;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        #cached_files{
            padding: 2rem;
            border-radius: 1rem;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
            width: 100%;
            max-width: 1100px;
        }

        #file_table{
            width: 100%;
            max-height: 70vh;
            height: fit-content;
            overflow: auto;
        }
    </style>
</html>
